#canvas-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#canvas-board {
  border: 1px solid black;
}

#canvas-title {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
