#guess-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#guess-title {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big-input {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 15px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.big-input:focus {
  border: 3px solid #555;
}

#img-div {
  border: 1px solid black;
}

#wrong-guess {
  color: red;
}

#right-guess {
  color: green;
}
